# Environments
.env
venv/
env/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
database.json

# IDE
.vscode/
.idea/
.DS_Store
# Logs & Local Data
logs/
memory_db.json
